/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

  table {
    border: 1px solid white;
    table-layout: fixed;
    width: 200px;
  }

  th,
  td {
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
  }

  body {
    background-color: #00ffaa;
    font-family: Verdana;
    text-align: center;
  }
  
  .questionName {
    margin-top: 15px;
    font-size: 20px;
  }
  
  .optionName {
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
    margin-left: 605px;
  }
  
  .box {
    margin-top: 12px;
  }
  
  .option {
    display: flex;
  }