{% extends "layout.html" %} 

{% block title %} 
    Sales.
{% endblock %} 

{% block main %} 
    <h1>List of sales.</h1>
    <div class="section">
        <h2>All Sales.</h2>
        <table class="center">
            <thead>
                <tr>
                    <th>Sale id</th>
                    <th>Client id</th>
                    <th>Product ref</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                    {% for salebatch in sale.salebatches %} 
                        <tr>
                            <td>{{ sale.id }}</td>
                            <td>{{ sale.client_id }}</td>
                            <td>{{ salebatch.product_ref }}</td>
                            <td>{{ salebatch.quantity }}</td>
                            <td>{{ salebatch.saleprice }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}