{% extends "layout.html" %} 

{% block title %} 
    Suppliers.
{% endblock %} 

{% block main %} 
    <h1>List of Suppliers</h1>
    <div class="section">
        <h2>All suppliers.</h2>
        <table class="center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %} 
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier.address }}</td>
                        <td>{{ supplier.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}